app/code/community/SixBySix/RealTimeDespatch/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="skuQty">
                <all>
                    <element name="key" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="value" type="xsd:int" minOccurs="1" maxOccurs="1" />
                </all>
            </complexType>
            <complexType name="skuQtyArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:skuQty[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="skuSeq">
                <all>
                    <element name="key" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="value" type="xsd:long" minOccurs="1" maxOccurs="1" />
                </all>
            </complexType>
            <complexType name="skuSeqArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:skuSeq[]" />
                    </restriction>
                </complexContent>
            </complexType>                              
        </schema>
    </types>
    <message name="orderflowShipmentCreateRequest">
       <part name="sessionId" type="xsd:string" />
       <part name="orderIncrementId" type="xsd:string" />
       <part name="skuQty" type="typens:skuQtyArray" />
       <part name="comment" type="xsd:string" />
       <part name="email" type="xsd:int" />
       <part name="includeComment" type="xsd:int" />
       <part name="courierName" type="xsd:string" />
       <part name="serviceName" type="xsd:string" />
       <part name="trackingNumber" type="xsd:string" />
       <part name="dateShipped" type="xsd:date" />
       <part name="messageSeqId" type="xsd:long" />   
    </message>
    <message name="orderflowShipmentCreateResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="orderflowInventoryMultiUpdateRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="skusQty" type="typens:skuQtyArray"/>
        <part name="skusSeqId" type="typens:skuSeqArray"/>
        <part name="messageSeqId" type="xsd:long"/>
    </message>
    <message name="orderflowInventoryMultiUpdateResponse">
        <part name="result" type="xsd:string"/>
    </message>    
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="orderflowShipmentCreate">
            <documentation>OrderFlow Shipment Creation</documentation>
            <input message="typens:orderflowShipmentCreateRequest" />
            <output message="typens:orderflowShipmentCreateResponse" />
        </operation>
        <operation name="orderflowInventoryMultiUpdate">
            <documentation>OrderFlow Multi Inventory Item Update</documentation>
            <input message="typens:orderflowInventoryMultiUpdateRequest"/>
            <output message="typens:orderflowInventoryMultiUpdateResponse"/>
        </operation>        
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="orderflowShipmentCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="orderflowInventoryMultiUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>        
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>    
</definitions>