app/code/community/SixBySix/RealTimeDespatch/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="skuQty">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="skuQtyArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:skuQty" />
                </xsd:sequence>
            </xsd:complexType>            
            <xsd:complexType name="skuSeq">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="skuSeqArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:skuSeq" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="orderflowShipmentCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="orderIncrementId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="skuQty" type="typens:skuQtyArray" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="comment" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="includeComment" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="courierName" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="serviceName" type="xsd:string" />                        
                        <xsd:element minOccurs="1" maxOccurs="1" name="trackingNumber" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="dateShipped" type="xsd:date" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="messageSeqId" type="xsd:long" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="orderflowShipmentCreateRequestResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>                                  
            <xsd:element name="orderflowInventoryMultiUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="skusQty" type="typens:skuQtyArray" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="skusSeqId" type="typens:skuSeqArray" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="messageSeqId" type="xsd:long" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="orderflowInventoryMultiUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="orderflowShipmentCreateRequest">
        <wsdl:part name="parameters" element="typens:orderflowShipmentCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="orderflowShipmentCreateResponse">
        <wsdl:part name="parameters" element="typens:orderflowShipmentCreateRequestResponseParam" />
    </wsdl:message>
    <wsdl:message name="orderflowInventoryMultiUpdateRequest">
        <wsdl:part name="parameters" element="typens:orderflowInventoryMultiUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="orderflowInventoryMultiUpdateResponse">
        <wsdl:part name="parameters" element="typens:orderflowInventoryMultiUpdateResponseParam" />
    </wsdl:message>    
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="orderflowShipmentCreate">
            <wsdl:documentation>Create new shipment for order</wsdl:documentation>
            <wsdl:input message="typens:orderflowShipmentCreateRequest" />
            <wsdl:output message="typens:orderflowShipmentCreateResponse" />
        </wsdl:operation>
        <wsdl:operation name="orderflowInventoryMultiUpdate">
            <wsdl:documentation>Multi update product stock data</wsdl:documentation>
            <wsdl:input message="typens:orderflowInventoryMultiUpdateRequest" />
            <wsdl:output message="typens:orderflowInventoryMultiUpdateResponse" />
        </wsdl:operation>        
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="orderflowShipmentCreate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="orderflowInventoryMultiUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>